Brotli
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
Flask-Compress
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy>=1.12.0
pandas
plotly
python-dateutil
pytz
six
tenacity
Werkzeug